h1 {
  backround-color: DarkSlateGrey;
  padding-left: 70px;
}

p {
  backround-color: DarkSlateGrey;
  padding-left: 70px;
}
 button {
   backround-color: DarkSlateGrey;
   padding-left: 70px;
 }

 label {
   backround-color: DarkSlateGrey;
   padding-left: 70px;
 }

 input {
   backround-color: DarkSlateGrey;
   padding-left: 70px;
 }
